body{
    background-color: #fdfcfc;
  
}
/*header*/
.orange-bg{background-color:#e1582bf3;}
.nav-link{color:#fff;}
.nav-link:hover,
.nav-link:active {color: rgb(254, 171, 113);
    box-shadow: 0 3px 5px #e9d8f566;}

/*h1*/
h1{
    color:#d25025f3;
    font-weight:bolder
    
}
.container{
    margin-top:2em;
}

footer{
        position:absolute;
   bottom:0;
   width:100%;
   height:60px;   
   background:#d25025f3;
   text-align:center;
}